.top-nav {
    overflow: hidden;
    background-color: #0F4B58;
}
.top-nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
}
.top-nav a.active {
    background-color: #0F4B58;
    color: white;
}
.top-nav input[type=text] {
    border-radius:23px;
    font-size: 17px;
}
.logo-image{
    float: left;
    width: 35px;
}
.login-nav{
    float: right;
    padding-top: 144px;
}
