.top-nav {
    overflow: hidden;
    background-color: #0F4B58;
}
.top-nav a {
    color: white;
    padding: 17px 25px;
    text-decoration: none;
    font-size: 20px;
    align-items: center;

}
.top-nav input[type=text] {
    border-radius:23px;
    font-size: 17px;
    display: flex;
    padding-right: 54px;
    text-align: center;
}
.logo {
    margin-left: 3vw;
    flex-grow: 0.5;

}
.search {
    margin-top: 80px;
    flex-grow: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;

}
.logo-image{
    display: flex;
    width: 44px;
    float: left;

}
.login-nav{
    margin-top: 183px;
    flex-grow: 0.5;

}
.nav-searchbar{
    align-items: center;
    width: 14vw;
    margin-right: 400px;

}
.navbar {
    display: flex;
    align-items: center;
}
.nav-menu {
    display: flex;
    align-items: flex-start;
    horiz-align: center;
    margin-top: 90px;
    margin-right: 100px;
    width: 1000px;
}
.nav-menu > * {
    flex-grow: 2;
}
.search-bar {
    width: 400px;
    border-radius: 6px!important;
    border-color: white;
}
